body {
  font-family: "DM Serif Text", serif;
  text-align: center;
}

h1 {
  color: black;
  font-size: 45px;
  font-weight: 100;
  line-height: 28px;
  margin: 20px;
}

a:hover {
  text-decoration: underline;
}

p .active {
  color: black;
  cursor: default;
}

p .active:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.date-input {
  font-size: 18px;
  margin-bottom: -20px;
}

.search {
  margin-bottom: 50px;
  margin-top: 30px;
}

.open-link {
  text-decoration: none;
}

.wrapper {
  max-width: 600px;
  margin: 40px auto;
}

.border {
  padding: 20px;
  border: 1px solid cornflowerblue;
  border-radius: 8px;
  background: rgb(68, 187, 192, 0.5);
}

.shade {
  border: 1px solid;
  border-radius: 8px;
  background: radial-gradient(
    circle at 10% 20%,
    rgb(253, 239, 132) 0%,
    rgb(247, 198, 169) 54.2%,
    rgb(21, 186, 196) 100.3%
  );
  max-width: 55%;
  margin: 20px auto;
  padding: 30px;
}
.main-degree {
  font-size: 45px;
  position: relative;
  right: -15px;
}

.main-pic {
  margin-bottom: -30px;
}

.small {
  font-size: 16px;
  position: relative;
  top: -19px;
  left: -8px;
  text-decoration: none;
}
.second-degree {
  font-size: 20px;
}

.left {
  position: relative;
  right: 150px;
}
.right {
  position: relative;
  left: 150px;
  top: -31px;
}

.middle {
  position: relative;
}

.other {
  font-size: 20px;
}

.description {
  position: relative;
  right: -5px;
  font-size: 20px;
  margin-bottom: 10px;
}

.forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.forecast-date {
  font-size: 16px;
}

.forecast-temp-min {
  opacity: 0.5;
}

.forecast-temperatures {
  font-size: 13px;
}
