body {
  font-family: arial, sans-serif;
  text-align: center;
}

h1 {
  color: black;
  font-size: 34px;
  font-weight: 100;
  line-height: 28px;
  margin: 10px;
}

.open-link {
  text-decoration: none;
}

.border {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid cornflowerblue;
  border-radius: 8px;
}
.main-degree {
  font-size: 60px;
  position: relative;
  right: -25px;
}
.second-degree {
  font-size: 24px;
}
.left {
  position: relative;
  right: 85px;
}
.right {
  position: relative;
  left: 85px;
}
.other {
  font-size: 18px;
  padding: 30px;
}
.feel {
  position: relative;
  right: 65px;
}
.chance {
  position: relative;
}
.humidity {
  position: relative;
  left: 65px;
}
.forecast {
  position: relative;
  right: -40px;
  margin: 45px 0;
}
.predictions {
  position: relative;
  right: -42px;
  margin-bottom: 40px;
}
.small {
  font-size: 16px;
  position: relative;
  top: -30px;
  left: -20px;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
